.container {
    background-color: #e76a24;
    width: 100%;
    margin-bottom: 1.5rem;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}
.exerciseContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2rem;
    text-align: center;
}
.title {
    font-size: 0.9rem;
}
.load {
    margin-top: 0.5rem;
    font-size: 0.9rem;
}
.reps {
    margin-top: 0.5rem;
    font-size: 0.9rem;
}

.sets {
    margin-top: 0.5rem;
    font-size: 0.9rem;
}
.time {
    margin-top: 0.5rem;
    font-size: 0.9rem;
}
.buttons {
    position: absolute;
    display: flex;
    bottom: 0.1rem;
    right: 1rem;
}
.delete {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: black;
    font-size: 1rem;
}
