html,
body {
    padding: 0;
    margin: 0;
    font-family: Saiyan-Sans, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

html {
    color-scheme: dark;
    font-family: Saiyan-Sans, sans-serif;
}
body {
    color: black;
    background: #f9b89f;
    font-size: 1.5rem;
}

button {
    border: transparent;
    padding: 0.5rem;
    border-radius: 3px;
    color-scheme: dark;
    font-family: Saiyan-Sans, sans-serif;
    background: #8e3f9b;
    font-size: 1.5rem;
}

input {
    border: 2px 2px black;
    padding: 0.5rem;
    border-radius: 3px;
    color-scheme: dark;
    font-family: Saiyan-Sans, sans-serif;
    background: #b4664f;
    font-size: 1.5rem;
}

@font-face {
    font-family: "Saiyan-Sans";
    src: url("~/fonts/Saiyan-Sans.ttf");
}
