.container {
    background-color: #6eb720;
    color: black;
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    font-family: Saiyan-Sans;
    border-bottom: 2px solid black;
}

.navContent {
    display: flex;
    align-items: center;
}

.title {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 2px solid black;
    font-size: 1.5rem;
    font-weight: 500;
    height: 64px;
    display: flex;
    align-items: center;
}

.name {
    margin-right: 2rem;
    color: black;
    cursor: pointer;
}

.buttons {
    border-radius: 0px;
    border-left: 2px solid black;
    border-right: transparent;
    border-bottom: transparent;
    border-top: transparent;
    height: 64px;
    background-color: transparent;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: Saiyan-Sans;
    font-size: 1rem;
}
