.container {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #e76a24;
    color: black;
    padding-left: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-family: Monofonto, sans-serif;
}

.logo {
    position: absolute; /* Position absolutely to the center */
    left: 50%; /* Start 50% from the left */
    transform: translateX(-50%); /* Shift back by 50% of its width to center */
}

.navContent {
    display: flex;
    align-items: center;
}

.login {
    position: absolute;
    right: 5px;
    top: 10px;
    background-color: transparent;
    color: black;
}

.account {
    position: absolute;
    align-items: center;
    left: 5px;
    top: 10px;
    background-color: transparent;
    color: black;
}

.title {
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    border-left: 2px solid black;
    font-size: 1.2rem;
    font-weight: 500;
    height: 64px;
    display: flex;
    align-items: center;
}

.name {
    margin-right: 2rem;
    color: black;
    cursor: pointer;
}

.buttons {
    border-radius: 0px;
    border-right: transparent;
    border-bottom: transparent;
    border-top: transparent;
    height: 64px;
    background-color: transparent;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: Monofonto, sans-serif;
    font-size: 1rem;
}

.analytics {
    position: absolute;
    right: 5px;
    bottom: 10px;
    background-color: transparent;
    color: black;
}
